<div class="container about-page text-center">
  <div class="row about">
    <div
      class="col-md-6 col-12 d-flex flex-column justify-content-center mb-5 order-md-1 order-2 left"
    >
      <h1 class="mb-4">My name is Mahdis (mah-dees).</h1>
      <h3 class="h3 mb-4 cartoon-font">
        I’m a Full Stack Developer and UX Designer based in Calgary. I hold a
        Bachelor’s degree in Engineering and recently completed a Full Stack
        Development Boot Camp at the University of Calgary.
        <br />
        <br />
        I love combining creativity with technology to build user-friendly
        experiences. I enjoy tackling challenges and thrive in team settings
        where collaboration is key. My passion lies in creating intuitive
        designs that not only look fantastic but also genuinely meet the needs
        of users.
      </h3>
    </div>
    <div
      class="col-md-6 col-12 d-flex justify-content-center mb-5 order-md-2 order-1 right"
    >
      <img
        src="../../assets/aaa.png"
        alt="Mahdis"
        class="img-fluid rounded-circle profile-image"
      />
    </div>
  </div>
  <hr />

  <div class="row skills">
    <h2 class="h2 mb-4">Soft Skills</h2>
    <p class="soft">
      My engineering background has really shaped my problem-solving skills—I’m
      comfortable breaking down complex issues and finding practical solutions.
      I love collaborating with teams to tackle challenges, bringing a mix of
      creativity and structure to the table.
    </p>
    <p class="soft">
      Attention to detail is something I take pride in; I believe the little
      things make a big difference in the quality of my work. I’m also
      adaptable, ready to embrace new tools and approaches as the tech landscape
      evolves.
    </p>
  </div>
  <hr />
  <div class="row skills">
    <h2 class="h2 mb-4">Technical Skills</h2>
    <!-- Frontend Skills -->
    <div class="col-md-3 col-12 mb-3">
      <h3 class="h3">Front-end</h3>
      <div class="row">
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-html5 fa-2x"></i>
            <span class="icon-label cartoon-text">HTML</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-css3-alt fa-2x"></i>
            <span class="icon-label cartoon-text">CSS</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-js fa-2x"></i>
            <span class="icon-label cartoon-text">JavaScript</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-angular fa-2x"></i>
            <span class="icon-label cartoon-text">Angular</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-react fa-2x"></i>
            <span class="icon-label cartoon-text">ReactJS</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-bootstrap fa-2x"></i>
            <span class="icon-label cartoon-text">Bootstrap</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-sass fa-2x"></i>
            <span class="icon-label cartoon-text">SCSS</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-js-square fa-2x"></i>
            <span class="icon-label cartoon-text">jQuery</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Backend Skills -->
    <div class="col-md-3 col-12 mb-3">
      <h3 class="h3">Back-end</h3>
      <div class="row">
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-node fa-2x"></i>
            <span class="icon-label cartoon-text">Node.js</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fas fa-server fa-2x"></i>
            <span class="icon-label cartoon-text">Express.js</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fas fa-cogs fa-2x"></i>
            <span class="icon-label cartoon-text">RESTful APIs</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fas fa-database fa-2x"></i>
            <span class="icon-label cartoon-text">MySQL/MariaDB</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fas fa-check-circle fa-2x"></i>
            <span class="icon-label cartoon-text">Jest</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fas fa-paper-plane fa-2x"></i>
            <span class="icon-label cartoon-text">Postman</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-12 mb-3">
      <h3 class="h3">UX Design</h3>
      <div class="row">
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fas fa-users fa-2x"></i>
            <span class="icon-label cartoon-text">User Research</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fas fa-pencil-alt fa-2x"></i>
            <span class="icon-label cartoon-text">Wireframing</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fas fa-desktop fa-2x"></i>
            <span class="icon-label cartoon-text">UI Design</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fas fa-check-circle fa-2x"></i>
            <span class="icon-label cartoon-text">Usability Testing</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-figma fa-2x"></i>
            <span class="icon-label cartoon-text">Figma</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Other Skills -->
    <div class="col-md-3 col-12 mb-3">
      <h3 class="h3">Other Skills</h3>
      <div class="row">
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-git fa-2x"></i>
            <span class="icon-label cartoon-text">Git</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-wordpress fa-2x"></i>
            <span class="icon-label cartoon-text">WordPress</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-shopify fa-2x"></i>
            <span class="icon-label cartoon-text">Shopify</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-aws fa-2x"></i>
            <span class="icon-label cartoon-text">AWS</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fab fa-github fa-2x"></i>
            <span class="icon-label cartoon-text">GitHub</span>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fas fa-palette fa-2x"></i>
            <span class="icon-label cartoon-text">Canva</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 d-flex justify-content-center">
          <div class="icon-container cartoon-icon">
            <i class="fas fa-paint-brush fa-2x"></i>
            <span class="icon-label cartoon-text">Adobe Photoshop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
