<div class="container my-5">
  <h1 class="text-center h1 project">Selected Projects</h1>

  <div class="project-list">
    <div class="card project-card a section">
      <img
        src="../../assets/rainbow.png"
        class="card-img-top"
        alt="MindfulRainbow"
      />
      <div class="card-body">
        <h5 class="card-title text-center">MindfulRainbow</h5>
        <p class="card-text text-center">
          <strong>Technologies:</strong> Node.js, Ionic, TypeScript, MariaDB
        </p>

        <div class="text-center">
          <a href="mindful-rainbow" target="_blank" class="btn btn-primary"
            >View Project</a
          >
        </div>
      </div>
    </div>

    <div class="card project-card b">
      <img src="../../assets/bankio.png" class="card-img-top" alt="Bankio" />
      <div class="card-body">
        <h5 class="card-title text-center">Bankio</h5>
        <p class="card-text text-center">
          <strong>Technologies:</strong> React, JavaScript, CSS, Bootstrap
        </p>
        <div class="text-center">
          <a
            href="https://bankio-puce.vercel.app/"
            target="_blank"
            class="btn btn-primary"
            >View Project</a
          >
        </div>
      </div>
    </div>
    <div class="card project-card d section">
      <img src="../../assets/sanjob.png" class="card-img-top" alt="Sanjob" />
      <div class="card-body">
        <h5 class="card-title text-center">Sanjob</h5>
        <p class="card-text text-center">
          <strong>Technologies:</strong> Angular, TypeScript, HTML, SCSS,
          Bootstrap
        </p>
        <div class="text-center">
          <a href="https://sanjob.ca/" target="_blank" class="btn btn-primary"
            >View Project</a
          >
        </div>
      </div>
    </div>
    <div class="card project-card c section">
      <img src="../../assets/garden.png" class="card-img-top" alt="GN Garden" />
      <div class="card-body">
        <h5 class="card-title text-center">GN Garden</h5>
        <p class="card-text text-center">
          <strong>Technologies:</strong> HTML, SCSS, Figma, Media Query
        </p>
        <div class="text-center">
          <a
            href="https://mahdismasoumi.github.io/GN-Garden/"
            target="_blank"
            class="btn btn-primary"
            >View Project</a
          >
        </div>
      </div>
    </div>
    -->
    <div class="card project-card h section">
      <img src="../../assets/pig.png" class="card-img-top" alt="Pig Game" />
      <div class="card-body">
        <h5 class="card-title text-center">Pig Game</h5>
        <p class="card-text text-center">
          <strong>Technologies:</strong> JavaScript, Game State Management, DOM,
          HTML
        </p>
        <div class="text-center">
          <a
            href=" https://mahdismasoumi.github.io/pig-game/"
            target="_blank"
            class="btn btn-primary"
            >View Project</a
          >
        </div>
      </div>
    </div>

    <!-- <div class="card project-card e section">
      <img src="../../assets/dajleh.png" class="card-img-top" alt="Dajleh" />
      <div class="card-body">
        <h5 class="card-title text-center">Dajleh</h5>
        <p class="card-text text-center">
          <strong>Technologies:</strong> React.js, HTML, SCSS
        </p>
        <div class="text-center">
          <a href="https://dajleh.org/" target="_blank" class="btn btn-primary"
            >View Project</a
          >
        </div>
      </div>
    </div> -->

    <div class="card project-card f section">
      <img
        src="../../assets/number.png"
        class="card-img-top"
        alt="Guess my Number"
      />
      <div class="card-body">
        <h5 class="card-title text-center">Guess my Number</h5>
        <p class="card-text text-center">
          <strong>Technologies:</strong> JavaScript, DOM, Event Listeners, HTML
        </p>
        <div class="text-center">
          <a
            href="https://mahdismasoumi.github.io/Guess-my-Number/"
            target="_blank"
            class="btn btn-primary"
            >View Project</a
          >
        </div>
      </div>
    </div>

    <!-- <div class="card project-card g section">
      <img
        src="../../assets/canada.png"
        class="card-img-top"
        alt="Meet Canada"
      />
      <div class="card-body">
        <h5 class="card-title text-center">Meet Canada</h5>
        <p class="card-text text-center">
          <strong>Technologies:</strong> Angular, TypeScript, SCSS
        </p>
        <div class="text-center">
          <a
            href="https://github.com/MahdisMasoumi/Canada-Tourism"
            target="_blank"
            class="btn btn-primary"
            >View Project</a
          >
        </div>
      </div>
    </div> -->
  </div>
</div>
