.section {
  opacity: 1;
  transform: translateY(3rem);
  transition: opacity 1s ease-out, transform 0.6s ease-out;
}

.section--hidden {
  opacity: 0;
  transform: translateY(3rem);
}

.section:not(.section--hidden) {
  opacity: 1;
  transform: translateY(0);
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  background-color: #dbd9e4;

  margin-bottom: 6rem;
  width: 100%;
  max-width: 40rem;
  box-shadow: 10px 20px 20px rgba(114, 90, 104, 0.6);

  .card-img-top {
    width: 100%;
    height: 23rem;
  }

  .card-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 15px;
  }

  .card-text {
    margin-bottom: 15px;
  }

  .btn {
    color: rgb(255, 255, 255);
    background-color: #052753;
    border: none;
    transition: 0.3s ease-out;
  }

  .btn:hover {
    font-weight: bold;
    color: #052753;
    background-color: #ffffff;
    transform: scale(1.1);
  }
}

.h1 {
  animation: moveInTop 1s ease-out;
  font-family: "Comic Sans MS", sans-serif;
  color: #052753;
  letter-spacing: 2px;
  margin-bottom: 3rem;
  font-weight: 600;
}
.container {
  font-family: "Comic Sans MS", sans-serif;
}
